
body
{
font-family:Arial,"方正兰亭纤黑_GBK","Microsoft YaHei Light",Sans-serif;
font-size:100%;
text-align:center;
margin-top:2em;
margin-left:3em;
margin-right:3em;
margin-bottom:4em;
text-align:center
}
h2,h3
{
overflow:hidden;
}
h2
{
margin-top:2em;
margin-bottom:0.5em;
}
p
{
margin-top:0.5em;
margin-bottom:0.5em;
}
table
{
border-collapse:collapse;
}
td
{
border: 1px solid black;
}