body {
    font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', 'Wenquanyi Micro Hei', 'Microsoft Yahei UI', sans-serif;
    font-size: 100%;
    text-align: center;
    margin: 2em 3em 4em;
}

h2, h3 {
    overflow: hidden;
}

h2 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}
