table.inside {
    border: 2px dotted;
    border-radius: 0;
    width: 100%;
}

tr.title {
    background-color: darkslategray;
    color: white;
}

div.color {
    height: 1em;
    float: left;
    border: 1px black solid;
}
